input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.game-options {
  box-sizing: border-box;
  border: 2px solid $blue;
  padding: 30px 40px;
  background-color: $formbg;
  border-radius: 30px;
  max-width: 400px;
  width: 90vw;
}

.form-title {
  margin-bottom: 40px;
  margin-top: 0;
  font-size: 28px;
  color: $blue;
}

.single-option {
  line-height: 0;
  margin-bottom: 30px;

  input {
    color: $blue;
    font-size: 18px;
    padding: 5px 10px;
    border: 1px solid $blue;
    max-width: 80%;
  }
}

.input-container {
  display: flex;
  justify-content: center;
}

.field-label {
  font-size: 18px;
  padding-left: 6%;
}

.input-btn {
  color: white;
  background-color: $blue;
  border: none;
  flex: 0 0 25px;
  cursor: pointer;
}

.error {
  color: $danger;
  line-height: 2;
  max-width: 100%;
}