html, body {
    height: 100%;
    background-color: $offwhite;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}