html, body {
    height: 100%;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.cell {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #aaa;
    color: black;
    margin-right: 2px;
    margin-bottom: 2px;
    overflow: hidden;
    line-height: 1.3;
    text-align: center;
}